<template name="mainOverlayZoomText">
    <div class="zoomText zoomSliderContainer" style="display: none;">
        <div class="zoomText zoomSliderLabelContainer">
            <label class="zoomText zoomSliderPercentage">{{getPercentage}}</label>
        </div>
        <div class="zoomText zoomSlider" data-keyboard="false"></div>
        {{#unless isDefaultZoomTextValue}}
            <div class="zoomText btn btn-raised btn-sm btn-danger resetTextZoom"><span class="flex-content">{{_ "card.tooltip.zoomTextReset"}}</span></div>
        {{/unless}}
    </div>
</template>
