<template name="removeUserFromBonusModal">
    <div class="modal fade" id="removeUserFromBonusModal" tabindex="-1" role="dialog"
         aria-labelledby="removeUserFromBonusTitle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fas fa-trash"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="removeUserFromBonusTitle" class="modal-title">{{_ "leitnerProgress.modal.removeUser.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "leitnerProgress.modal.removeUser.text"}}
                    {{#with userData}}
                        <table class="table table-striped table-hover table-user-list">
                            <tbody>
                            <tr>
                                <th>{{_ "panel-body.birthname"}}</th>
                                <th>{{_ "panel-body.givenname"}}</th>
                                <th>{{_ "panel-body.email"}}</th>
                                {{#if isNotificationEnabled}}
                                    <th>{{_ "confirmLearn-form.notification"}}</th>
                                {{/if}}
                                <th>{{_ "leitnerProgress.box" number=1}}</th>
                                <th>{{_ "leitnerProgress.box" number=2}}</th>
                                <th>{{_ "leitnerProgress.box" number=3}}</th>
                                <th>{{_ "leitnerProgress.box" number=4}}</th>
                                <th>{{_ "leitnerProgress.box" number=5}}</th>
                                <th>{{_ "leitnerProgress.learned"}}</th>
                            </tr>
                            <tr>
                                <td>
                                    {{this.firstName}}
                                </td>
                                <td>
                                    {{this.lastName}}
                                </td>
                                <td>
                                    {{this.email}}
                                </td>
                                {{#if isNotificationEnabled}}
                                    <td>
                                        {{{getNotificationStatus this}}}
                                    </td>
                                {{/if}}
                                <td>
                                    {{this.box1}}
                                </td>
                                <td>
                                    {{this.box2}}
                                </td>
                                <td>
                                    {{this.box3}}
                                </td>
                                <td>
                                    {{this.box4}}
                                </td>
                                <td>
                                    {{this.box5}}
                                </td>
                                <td>
                                    {{this.box6}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {{/with}}
                </div>
                <div class="modal-footer">
                    <button id="removeUserFromBonusConfirm"
                            class="btn btn-raised btn-danger pull-right">{{_
                            "leitnerProgress.modal.removeUser.button.confirm"}}</button>
                    <button id="removeUserFromBonusCancel"
                            class="btn btn-raised btn-default pull-left"
                            data-dismiss="modal">{{_
                            "leitnerProgress.modal.removeUser.button.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
