<template name="filterIndexItemBottomWorkloadProgress">
    <a class="resultNavigationElement" href="progress/{{this._id}}/{{currentUser._id}}" title="{{_
            "admin.myProgress"}}">
        <i class="far fa-chart-bar"></i>
    </a>
</template>
